.score-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 5rem;
}

.score-board h2 {
  margin: 0;
}

.score-board-buttons {
  display: flex;
  gap: 2rem;
}
