.score-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 5rem;
}

.score-board h2 {
  margin: 0;
}

.score-board-buttons {
  display: flex;
  gap: 2rem;
}

.score-board div {
  padding: 3rem 4rem;
}

.blue-turn {
  background-color: #5a85f7;
}

.red-turn {
  background-color: #ff4d4f;
}

@media (max-width: 768px) {
  .score-board {
    flex-direction: column;
    gap: 0;
  }

  .score-board div {
    padding: 2rem;
  }
}
